

<nav class="navbar navbar-expand-lg navbar-light sticky-top"  >
  
    <div class="container-fluid nav-tit-a" [class.hidden]="isNavbarHidden">
      <a class="navbar-brand" href="#">{{companyname}}</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav mx-auto d-flex gap-5 " style="--bs-scroll-height: 100px;">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#/wehave">We have</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#/aboutus">Know us?</a>
          </li>
          <li>
            <a class="nav-link" href="#/registerform">Want to join us?</a>
          </li>
          <!-- <li class="nav-item dropdown">
            <a 
              class="nav-link dropdown-toggle" 
              
              id="navbarDropdown" 
              role="button" 
              data-bs-toggle="dropdown" 
              aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" routerLink="/registerform">Register</a></li>
              <li><a class="dropdown-item" routerLink="">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" routerLink="">Something else here</a></li>
            </ul>
          </li> -->
          
          <!-- <li class="nav-item">
            <a class="nav-link disable" href="#" tabindex="-1" aria-disabled="true"></a>
          </li> -->
        </ul>
        <!-- <form class="d-flex">
          <input class="form-control me-2" type="text" [value]="name" (input)="name=$any($event.target).value" placeholder="Search" aria-label="Search">
          <p class="form-control me-2"> You entered {{name}}</p>
          <button class="btn nav-search-button" type="submit">Search</button>
          <button class="btn nav-search-button" (click)="clearName()">Clear</button>
        </form> -->
        <!-- <form class="d-flex">
          <input class="form-control me-2" type="text" value="name" [(ngModule)]="value" placeholder="Search" aria-label="Search">
          <p class="form-control me-2"> You entered {{name}}</p>
          <button class="btn nav-search-button" type="submit">Search</button>
          <button class="btn nav-search-button" (click)="clearName()">Clear</button>
        </form> -->
         <div class="d-flex align-items-center ms-auto me-4">
            <a class="navposition-relative" href="#/cart" id="cart-icon">
              <h4><i class="fa-solid fa-bag-shopping cart-bounce">
                <h6><span class="nav top-0 start-100 translate-middle badge rounded-pill bg-danger">
                      {{ cartItemCount }}  </span>
                </h6></i></h4>
             </a>
          </div>
      </div>
    </div>
  </nav>
  

  