<section class="trustedby-section">
  <div class="container">
    <h2 class="sect-ttl">Trusted by the best companies in the world ..</h2>
    <br>
    <div class="trt-sldr">
      <div class="trt-logo-wrp"><img src="assets/03/zeetv-logo-1.webp" width="150" height="150" loading="lazy" alt="zeetv"></div>
      <div class="trt-logo-wrp"><img src="assets/03/vodafone-logo-1.webp" width="150" height="150" loading="lazy" alt="vodafone"></div>
      <div class="trt-logo-wrp"><img src="assets/03/victoria-logo.webp" width="150" height="150" loading="lazy" alt="victoria"></div>
      <div class="trt-logo-wrp"><img src="assets/03/times-logo-1.webp" width="150" height="150" loading="lazy" alt="timesnow"></div>
      <div class="trt-logo-wrp"><img src="assets/03/teamglobale-logo-1.webp" width="150" height="150" loading="lazy" alt="teamglobal"></div>
      <div class="trt-logo-wrp"><img src="assets/03/standard-bnk-logo-2.webp" width="150" height="150" loading="lazy" alt="standard"></div>
      <div class="trt-logo-wrp"><img src="assets/03/siemens-logo-1.webp" width="150" height="150" loading="lazy" alt="siemens"></div>
      <div class="trt-logo-wrp"><img src="assets/03/rmma-logo-1.webp" width="150" height="150" loading="lazy" alt="rma"></div>
      <div class="trt-logo-wrp"><img src="assets/03/reliance-logo-1.webp" width="150" height="150" loading="lazy" alt="reliance"></div>
      <div class="trt-logo-wrp"><img src="assets/03/regon-logo.webp" width="150" height="150" loading="lazy" alt="regon"></div>
      <div class="trt-logo-wrp"><img src="assets/03/predentials-logo.webp" width="150" height="150" loading="lazy" alt="predentials"></div>
      <div class="trt-logo-wrp"><img src="assets/03/saregama-logo-1.webp" width="150" height="150" loading="lazy" alt="saregama"></div>
      <div class="trt-logo-wrp"><img src="assets/03/pidlite-logo-1.webp" width="150" height="150" loading="lazy" alt="pidlite"></div>
      <div class="trt-logo-wrp"><img src="assets/03/oracle-logo-1.webp" width="150" height="150" loading="lazy" alt="oracle"></div>
      <div class="trt-logo-wrp"><img src="assets/03/nisg-logo-1.webp" width="150" height="150" loading="lazy" alt="nisg"></div>
      <div class="trt-logo-wrp"><img src="assets/03/mm-logo-1.webp" width="150" height="150" loading="lazy" alt="mm"></div>
      <div class="trt-logo-wrp"><img src="assets/03/matla-logo-1.webp" width="150" height="150" loading="lazy" alt="matla"></div>
      <div class="trt-logo-wrp"><img src="assets/03/maia-logo-1.webp" width="150" height="150" loading="lazy" alt="maia"></div>
      <div class="trt-logo-wrp"><img src="assets/03/lily-logo-1.webp" width="150" height="150" loading="lazy" alt="lily"></div>
      <div class="trt-logo-wrp"><img src="assets/03/kbc-logo-1.webp" width="150" height="150" loading="lazy" alt="kbc"></div>
      <div class="trt-logo-wrp"><img src="assets/03/justdial-logo-1.webp" width="150" height="150" loading="lazy" alt="justdial"></div>
      <div class="trt-logo-wrp"><img src="assets/03/jhonson-logo-1.webp" width="150" height="150" loading="lazy" alt="jhonson"></div>
      <div class="trt-logo-wrp"><img src="assets/03/intenlectual-logo-1.webp" width="150" height="150" loading="lazy" alt="intellectual"></div>
      <div class="trt-logo-wrp"><img src="assets/03/iifl-logo-1.webp" width="150" height="150" loading="lazy" alt="iifl"></div>
      <div class="trt-logo-wrp"><img src="assets/03/hollard-1.webp" width="150" height="150" loading="lazy" alt="hollard"></div>
      <div class="trt-logo-wrp"><img src="assets/03/hdfc-logo-1.webp" width="150" height="150" loading="lazy" alt="hdfc"></div>
      <div class="trt-logo-wrp"><img src="assets/03/future-logo-1.webp" width="150" height="150" loading="lazy" alt="future"></div>
      <div class="trt-logo-wrp"><img src="assets/03/famous-logo-1.webp" width="150" height="150" loading="lazy" alt="famous"></div>
      <div class="trt-logo-wrp"><img src="assets/03/dimension-logo-1.webp" width="150" height="150" loading="lazy" alt="dd"></div>
      <div class="trt-logo-wrp"><img src="assets/03/danone-logo-2.webp" width="150" height="150" loading="lazy" alt="danone"></div>
      <div class="trt-logo-wrp"><img src="assets/03/chm-logo-1.webp" width="150" height="150" loading="lazy" alt="chm"></div>
      <div class="trt-logo-wrp"><img src="assets/03/ceat-logo-1.webp" width="150" height="150" loading="lazy" alt="ceat"></div>
      <div class="trt-logo-wrp"><img src="assets/03/castrol-logo-1.webp" width="150" height="150" loading="lazy" alt="castrol"></div>
      <div class="trt-logo-wrp"><img src="assets/03/boxer-logo-1.webp" width="150" height="150" loading="lazy" alt="boxer"></div>
      <div class="trt-logo-wrp"><img src="assets/03/bavitials-logo-1.webp" width="150" height="150" loading="lazy" alt="bonitas"></div>
      <div class="trt-logo-wrp"><img src="assets/03/bomaid-logo-1.webp" width="150" height="150" loading="lazy" alt="bomaid"></div>
      <div class="trt-logo-wrp"><img src="assets/03/bharat-logo-1.webp" width="150" height="150" loading="lazy" alt="bharatpetroleum"></div>
      <div class="trt-logo-wrp"><img src="assets/03/axis-logo-1.webp" width="150" height="150" loading="lazy" alt="axis"></div>
    </div>
  </div>
</section>
