<div class="card-head">
<div class="container mt-4">
  <br>
   <h2>25% off on our New Range</h2>
<br>
  <div class="d-flex overflow-auto gap-3 py-3 hide-scrollbar">

    <div class="scroll-wrapper">
  <div class="auto-scroll d-flex gap-3" #scrollContent>

    <div class="card" style="min-width: 18rem;">
      <img src="https://assets.ajio.com/medias/sys_master/root/20230927/hsvu/65146ffdddf77915190b17eb/-473Wx593H-4938604970-230nmacaroon-MODEL.jpg" class="card-img-top" alt="...">
    </div>

    <div class="card" style="min-width: 18rem;">
      <img src="https://media.kohlsimg.com/is/image/kohls/dd63ec0645465092538a87ea4d60292ca51e1f09?wid=400&hei=400&op_sharpen=1" class="card-img-top" alt="...">
    </div>

    <div class="card" style="min-width: 18rem;">
      <img src="https://assets.ajio.com/medias/sys_master/root/20231018/MQtW/652ff928afa4cf41f54e0025/-473Wx593H-4942383720-trendsetter-MODEL4.jpg" class="card-img-top" alt="...">
    </div>

    <div class="card" style="min-width: 18rem;">
      <img src="https://images.asos-media.com/products/huda-beauty-lip-trio-set-icon-36-saving/204316944-1-icon?$n_640w$&wid=513&fit=constrain" class="card-img-top" alt="...">
    </div>

    <div class="card" style="min-width: 18rem;">
      <img src="https://cdn.tirabeauty.com/v2/billowing-snowflake-434234/tira-p/wrkr/products/pictures/item/free/original/1116358/NsaW0GxMc--1116358_1.jpg" class="card-img-top" alt="...">
    </div>
  </div>
    </div>
</div>
<br>
</div>
</div>
